@import './tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-bg text-fg;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
